:root {
    --white: #fff;
    --black: #000000;
    --item-width: 350px;
    --item-height: 50px;
    --column-width: 200px;
    --border: 1px solid var(--black);
    --border-radius: 5px;
    --background-main: #8d6741;
    --background-active: #d8a470;
    --background-popup: #eceaea;
    --btn-inactive: #807f7f;
}
.wrapper {
    width: var(--item-width);
    margin: 30px;
}
.js-btn-wrapper {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.js-next__list,
.js-prev__list{
    color: var(--white);
    font-size: 18px;
    background: var(--background-main);
    border: var(--border);
    margin-right: 20px;
    max-width: 50px;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.js-inactive__button{
    background: var(--btn-inactive);
    cursor: auto;
}
.js-next__list:hover,
.js-prev__list:hover{
    background: var(--background-active);
}
.zone {
    margin-top: 2px;
    border-radius: var(--border-radius);
    width: var(--item-width);
    height: var(--item-height);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.js-wrapper-item {
    display: flex;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.js-item {
    width: var(--item-width);
    height: var(--item-height);
    border-radius: var(--border-radius);
    font-size: 18px;
    color: var(--white);
    border: var(--border);
    padding: 10px;
    transition: .5s;
    background: var(--background-main);
    text-align: center;
}
.js-wrapper-popup{
    position: relative;
    color: var(--black);
    z-index: 1;
    top: 3px;
    left: 2px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.js-popup__panel {
    position: absolute;
    background: var(--background-popup);
     border: var(--border);;
    border-radius: var(--border-radius);
    width: 600px;
    height: 363px;
    padding: 10px;
    top: -3px;
    left: 0;
}
.placeholder {
    display: block;
    width: var(--item-width);
    height: var(--item-height);
}
.emptySectionHiddenLesson{
    background: none;
    border: none;
    width: var(--item-width);
    height: var(--item-height);
}
.js-panel-header{
    background: var(--background-popup);
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.js-panel-rating,
.js-panel-title,
.js-discount-percentage,
.js-brand,
.js-category,
.js-description
{
    background: var(--background-popup);
    text-align: left;
}
.js-discount-percentage,
.js-brand,
.js-category,
.js-description
{
    margin-top: 10px;
}
.js-panel-main{
    background: var(--background-popup);
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.js-panel-info{
    background: var(--background-popup);
    max-width: 200px;
    width: 100%;
    margin-right: 10px;
}
.js-panel-slide{
    min-height: 300px;
    min-width: 400px;
    background: var(--white);
    position: relative;
}
.js-img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.photos__inner{
    opacity: 1;
}
.js-description{
    color: var(--btn-inactive);
}
strong{
    color: #ff0000;
}
.btns__img{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--background-popup);
    opacity: .5;
    max-height: 50px;
    height: 100%;
    max-width: 50px;
    width: 100%;
    transition: .9s;
    outline: none;
}
.prev__img{
    position: absolute;
    top: 50%;
    z-index: 20;
    left: 0;
    text-align: left;
}
.next__img{
    position: absolute;
    top: 50%;
    z-index: 20;
    right: 0;
    text-align: right;
}
.next__img:hover,
.prev__img:hover{
    color: #c6c3c3;
    opacity: 1;
    text-shadow: var(--black) 1px 0 5px;
}
.btns button{
    position: absolute;
    top: 40%; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--color-gray-400);
    transition: .9s;
    outline: none;
    z-index: 2;
    opacity: .5;
    max-height: 150px;
    height: 100%;
    max-width: 150px;
    width: 100%;
}
.btns button:hover{
    color: var(--color-gray-200);
    opacity: 1;
    text-shadow: var(--black) 1px 0 5px;
}
.btns button:active{
    color: var(--color-gray-200);
    text-shadow: var(--black) 1px 0 5px;
}
.btnPrev{
    left: 0;
    text-align: left;
}
.btnNext{
    right: 0;
    text-align: right;
}