:root {
    --white: #fff;
    --black: #000000;
    --item-width: 350px;
    --item-height: 50px;
    --column-width: 200px;
    --border: 1px solid var(--black);
    --border-radius: 5px;
    --background-main: #8d6741;
    --background-active: #d8a470;
    --background-popup: #eceaea;
    --btn-inactive: #807f7f;






    --color-black: #000;
    --color-white: #fff;
    --gray-1: rgb(186, 186, 186);
    --height-1: 30px;
    --border-gray: 1px solid rgb(186, 186, 186);
}

.wrapper {
    width: var(--item-width);
    margin: 30px;
    margin-bottom: var(--item-height);
}

.js-btn-wrapper {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-next-list,
.js-prev-list{
    color: var(--white);
    font-size: 18px;
    background: var(--background-main);
    border: var(--border);
    margin-right: 20px;
    max-width: 50px;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.js-inactive-button{
    background: var(--btn-inactive);
    cursor: auto;
}

.js-next-list:hover,
.js-prev-list:hover{
    background: var(--background-active);
}

.js-wrapper-select-input{
    display: flex;
    justify-content: space-between;
}

.js-input{
    padding: 0;
    height: 30px;
    width: 55px;
    font-size: 25px;
    outline-style: none;
    border: var(--border);
    text-align: center;
    color: var(--white);
    background: var(--background-main);
    border: var(--border);
}

.js-list{
    margin-bottom: 450px;
}

.js-zone {
    margin-top: 2px;
    border-radius: var(--border-radius);
    width: var(--item-width);
    height: var(--item-height);
    cursor: pointer;
}

.js-wrapper-item {
    display: flex;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.js-item {
    width: var(--item-width);
    height: var(--item-height);
    border-radius: var(--border-radius);
    font-size: 18px;
    color: var(--white);
    border: var(--border);
    padding: 10px;
    transition: .5s;
    background: var(--background-main);
    text-align: center;
}

.js-wrapper-popup{
    position: relative;
    color: var(--black);
    z-index: 1;
    top: 3px;
    left: 2px;
}

.js-popup-panel {
    position: absolute;
    background: var(--background-popup);
     border: var(--border);;
    border-radius: var(--border-radius);
    width: 600px;
    height: 363px;
    padding: 10px;
    top: -3px;
    left: 0;
}

.js-placeholder {
    display: block;
    width: var(--item-width);
    height: var(--item-height);
}

.js-empty-section-hidden-lesson{
    background: none;
    border: none;
    width: var(--item-width);
    height: var(--item-height);
}

.js-panel-header{
    background: var(--background-popup);
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.js-panel-rating,
.js-panel-title,
.js-discount-percentage,
.js-brand,
.js-category,
.js-description
{
    background: var(--background-popup);
    text-align: left;
}

.js-discount-percentage,
.js-brand,
.js-category,
.js-description
{
    margin-top: 10px;
}

.js-panel-main{
    background: var(--background-popup);
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.js-panel-info{
    background: var(--background-popup);
    max-width: 200px;
    width: 100%;
    margin-right: 10px;
}

.js-panel-slide{
    min-height: 300px;
    min-width: 400px;
    background: var(--white);
    position: relative;
    display: flex;
}

.js-img{
    object-fit: cover;
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.js-description{
    color: var(--btn-inactive);
}

strong{
    color: #ff0000;
}

.js-item-active{
    background: var(--background-active);
}

.js-pointer-events{
    pointer-events: none;
}

.aaaaa{
    position: static;
    left: auto;
    top: auto;
    z-index: auto;
    transform: none;
}














.js-select{
    width: 150px;
    font-size: 20px;
    border: var(--border);
    color: var(--white);
    background: #807f7f;


    height: 35px;
    border: var(--border-gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

.js-drop{
    outline-style: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.js-dropdown{
    float: left;
    position: relative;
    display:inline-block ;
}
   
.js-dropdown__list{
    display: none;
    position: absolute;
    left: 0;
    top: 35px;
    margin: 0;
    padding: 0;
    background: var(--color-white);
    overflow: hidden;
    width: 100%;
    z-index: 1;
}
   
.js-dropdown__list-visible{
    display: block;
}
   
.js-dropdown__item{
    margin: 0;
    border: var(--border-gray);
    height: 35px;
    border-bottom: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
   
.js-dropdown__item:first-child{
    border-top: 0;
}

.js-dropdown__item:last-child{
    border-bottom: var(--border-gray);
}
   
.js-dropdown__item:hover{
    background: var(--gray-1);
} 
   
.js-drop::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 10px 4px 0 4px;
    border-color: var(--gray-1) transparent transparent transparent;
    border-style: solid;
    pointer-events: none;
}
   

     





